apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

patchesJson6902:
- target:
    group: ocs.openshift.io
    version: v1
    kind: StorageCluster
    name: ocs-storagecluster
    namespace: openshift-storage
  path: patch-cephobjectstore.yaml